<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Productos</h1>
    <form id="productForm">
        <input type="text" id="name" placeholder="Nombre del producto" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <div id="productList">
        {{#each products}}
            <div class="product-card">
                <h2>{{this.name}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
            </div>
        {{/each}}
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtime.js"></script>
</body>
</html>